<div>
    <div class="content">
        <!-- Icon 404 với emoji -->
        <div class="icon-404">
            <i class="fas fa-map-signs"></i>
            <span class="emoji">😕</span>
        </div>

        <div class="number">401</div>

        <div class="text">
            <h1 style="font-weight: bold;">
                <i class="fas fa-exclamation-triangle"></i>
                Access Denied
            </h1>
            <h5>
                Sorry, You don't have permission to access this page
            </h5>

            <a (click)="goToHome()" class="home-btn">
                <i class="fas fa-arrow-left"></i>
                Go to Home
                <i class="fas fa-home"></i>
            </a>
        </div>

    </div>
</div>