.error-message {
    color: #ff4b2b;
    font-size: 12px;
    margin: 8px 0;
    font-weight: bold;
    text-align: center;
}

.success-message {
    color: green;
    font-size: 12px;
    margin: 8px 0;
    font-weight: bold;
    text-align: center;
}