<div [class.sb-sidenav-toggled]="sidebarToggled" id="sb-nav-fixed">

    <!-- Top Navbar -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <h1 class="navbar-brand ps-3" style="font-weight: bold;">OCMS Teacher</h1>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" (click)="toggleSidebar()">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Search -->
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </div>

        <!-- User Dropdown -->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" (click)="authService.logout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <!-- Sidebar -->
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <a class="nav-link" routerLink="/teacher" routerLinkActive="active">
                            <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                            Manage Courses
                        </a>
                        <!-- <a class="nav-link" routerLink="/teacher" routerLinkActive="active">
                            <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                            Manage Course Type
                        </a> -->
                    </div>
                </div>
            </nav>
        </div>

        <!-- Main Content -->
        <div id="layoutSidenav_content">
            <main>
                <router-outlet></router-outlet>
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; OCMS 2026</div>
                        <div class="text-muted">
                            <p>Quyendz03</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


</div>